*.eps
*.go
*.log
*.mo
*.pdf
*.png
*.tar.xz
*.tmp
*~
.#*
\#*\#
,*
/aclocal.m4
/autom4te.cache
/build-aux
/config.status
/configure
/doc/*.1
/doc/.dirstamp
/doc/contributing.*.texi
/doc/guile-basexx*.aux
/doc/guile-basexx*.cp
/doc/guile-basexx*.cps
/doc/guile-basexx*.fn
/doc/guile-basexx*.fns
/doc/guile-basexx*.html
/doc/guile-basexx*.info
/doc/guile-basexx*.info-[0-9]
/doc/guile-basexx*.ky
/doc/guile-basexx*.pg
/doc/guile-basexx*.toc
/doc/guile-basexx*.t2p
/doc/guile-basexx*.tp
/doc/guile-basexx*.vr
/doc/guile-basexx*.vrs
/doc/guile-basexx.*.texi
/doc/guile-basexx-cookbook.*.texi
/doc/guile-basexx.aux
/doc/guile-basexx.cp
/doc/guile-basexx.cps
/doc/guile-basexx.fn
/doc/guile-basexx.fns
/doc/guile-basexx.html
/doc/guile-basexx.info
/doc/guile-basexx.info-[0-9]
/doc/guile-basexx.ky
/doc/guile-basexx.pg
/doc/guile-basexx.toc
/doc/guile-basexx.t2p
/doc/guile-basexx.tp
/doc/guile-basexx.vr
/doc/guile-basexx.vrs
/doc/stamp-vti
/doc/version.texi
/doc/version-*.texi
/INSTALL
/guile.am
/m4/*
/pre-inst-env
/release-*
GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
config.cache
stamp-h[0-9]
.am[0-9]*/
.dirstamp
.deps
tmp
/.tarball-version
/.version
.DS_Store
*.trs
*.log
*.db
